body
{
    background-image:url('img/image.jpg');
    background-attachment:fixed;

}
#Header {
         font-family: 'Comfortaa', cursive;
         font-size: 60px;
         color: rgba(250,250,250,1);
         cursor: pointer;
         margin-bottom: 10%;
         text-align: center;
}

h1 {
         display: inline;
     }

     
.search{
  float:center;
}

.search .URL-enter{

 text-align:center;
 font-size:2.0em;
 width:35vw;
 margin-left:24vw;
 border:none;
 border-bottom: 2px solid rgb(7, 7, 32);
 height:4vw;
 background-color:transparent;
 color:white;
 


}
.search .URL-enter:focus
{
 outline:none;
 color:white;
 background-color:none;
}
.search .button

{
  width:15vw;
  border-radius:40px;
  height:12vh;
  background-color:rgb(18, 18, 54);
  padding:10px;
  outline:none;
  border-style:none;
  cursor: pointer;
  box-shadow:3px 8px rgb(23, 23, 49);
  margin-left:2vw;

 
}
.search .URL-enter::placeholder

{
 padding:10px;
 font-weight:bold;
 font-size:20px;
 outline:none;
 

}

.footer
{
margin-top:17%;
font-size:3.0em;
text-align:center;
color:white;

}

.footer a
{
 text-decoration:none;
 color:white;
}