<html>
<head>
    <title> Video Grabber.IO</title>
<link rel="stylesheet" type="text/css" href="front.css"><meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="img/logo.png"/>


    
</head>
<body>

   


  <img src="img/icon.svg"  height="70px" width="70px" style=" float: left !important; position: absolute;margin: 0 0 0 3%;">
    <p id="Header"  style="padding: 1%; text-align: center; position: relative; margin-top: 3%"><b>VideoGrabber.IO</b></p>


<div class="search">

        <form action="/download">
           <div class="input">
            <input  class="URL-enter" name="video" type="text" placeholder="Paste the Youtube Link......" autocomplete="off">
               <button class="button"><img src="img/icon.svg" style="width:5vw;height:5vh;margin-left:0.5vw;"></button>
           </div>
           </form>


           <div class="footer">
            <p> &lt; / &gt; &nbsp; in &nbsp; <img src="img/like.png"> &nbsp; by <br><br>
             <a href="https://github.com/YOPrateek"> <i class="fa fa-github" style="font-size:40px;"></i> YoPrateek </a></p>
    
        </div>
    
</body>
</html>
