<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
        body {
       background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
            color: white;
            font-family: 'Rubik', sans-serif;
            background-attachment: fixed;
            background-repeat: no-repeat;
            height:100%;
            margin:0;
          
        }

        input::placeholder {
            text-align: center;
        }
      input:active 
      {
          border:none;
          outline:none;
      }

        @media(min-width:900px) {
            .btn {
                float: left;
            }

            .form-control {
                float: left;
                width: 100%;
            }

            .md-form {
                margin-left: 200px;
            }
             input:focus {
    border: none;
    background: transparent;
}

        }
          body {
       background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
            color: white;
            font-family: 'Rubik', sans-serif;
            background-attachment: fixed;
            background-repeat: no-repeat;
            height:100%;
            margin:0;
          
        }

        @media (max-width:900px) {
            .form-control {
                float: center;
                width: 50%;
            }

            .btn {
                float: center;
                text-align: center;
                /* margin-left:300px; */
            }

        }

        @media(min-width:577px) and (max-width:992px) {
            .form-control {
                float: center;
                width: 50%;
            }

            .btn {
                margin-left: 300px;
            }
        }

        input:focus {
            outline: none;
            border: none;

        }
    </style>
</head>

<body>
    <div class="col-12"
        style="color:white;font-size:35px;text-align:center;font-weight:bold;transform:translateY(20px);">
        VideoGrabber.IO
    </div>

    <div class="container-fluid" style="transform:translateY(200px);text-align:center;">
        <div class="md-form animated slideInUp">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-lg-5 col-xs-8 col-md-8 col-sm-8">
                    <form action='/download' method="GET">
                        <input placeholder="Paste The Youtube Link..." type="text" name="video" id="inputPlaceholderEx"
                            class="form-control" style="font-weight:bold;color: white;">
                </div>
                <div class="col-lg-5 col-xs-8 col-md-8 col-sm-8"><button type="submit" class="btn btn-primary"
                        style="margin-top:10px;">Download</button></div>
            </div>
            
            </form>
            <div class="col-2"></div>
        </div>
    </div>

    <div class="container-fluid" style="position:fixed;bottom:0;margin-top: 20px">
        <div class="footer" style="text-align:center;">
            <div class="col-12" style="color:white;font-size:30px;">
                <i class="fas fa-code"></i> in <i class="fas fa-heart" style="color:pink;"></i> By
            </div>
            <div class="col-12" style="color:white;font-size:30px;margin-top:10px;">
                <i class="fab fa-github" style="color:white;font-size:40px;"></i>
                <a href="https://github.com/prateek1406" style="color:white;text-decoration:none;margin-top: -4px">Prateek</a>
            </div>

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>