<!DOCTYPE html>
<html>
<head>
   
    <style>
    </style>
</head>
<body>
    <h1>Hello {{error}}</h1>

    <script>
        let hello = `{{data}}`
        console.log(hello);
    </script>
</body>
</html>